@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.leftfloat {
    float: left;
}

.rightfloat {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-wrap {
    white-space: normal;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-bold {
    font-weight: bold;
}

.text-unbold {
    font-weight: normal;
}

.text-italic {
    font-style: italic;
}

.text-light-grey {
    color: #82888b;
}

.text-medium-grey {
    color: #999;
}

.text-grey {
    color: #666;
}

.text-dark-grey {
    color: #333;
}

.text-black {
    color: #1a1a1a;
}

.text-red {
    color: #ef3f30;
}

.text-white {
    color: #fff;
}

.text-link {
    cursor: pointer;
    color: #0288d1;
}

.text-orange {
    color: #f04031;
}

.text-orange-light {
    color: #F88379;
}

.font9 {
    font-size: 9px;
}

.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font25 {
    font-size: 25px;
}

.font26 {
    font-size: 26px;
}

.font27 {
    font-size: 27px;
}

.font28 {
    font-size: 28px;
}

.font29 {
    font-size: 29px;
}

.font30 {
    font-size: 30px;
}

.line-height {
    line-height: 1.8;
}

.content-inner-block-5 {
    padding: 5px;
}

.content-inner-block-10 {
    padding: 10px;
}

.content-inner-block-15 {
    padding: 15px;
}

.content-inner-block-20 {
    padding: 20px;
}

.content-box-shadow {
    background: #fff;
    border: 1px solid #e2e2e2;
    -moz-box-shadow: 0 1px 2px #e5e5e5;
    -webkit-box-shadow: 0 1px 2px #e5e5e5;
    -o-box-shadow: 0 1px 2px #e5e5e5;
    -ms-box-shadow: 0 1px 2px #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block;
}

.ul-arrow li {
    margin-top: 10px;
}

.bg-white {
    background: #FFF;
}

.bg-light-grey {
    background: #f5f5f5;
}

.bg-light-grey-with-alpha {
    background: rgba(242, 242, 243, 0.9);
}

.bg-grey {
    background: #e1e1e1;
}

.bg-dark-grey {
    background: #333333;
}

.bg-footer {
    background: #323434;
}

.margin-left-1 {
    margin-left: -1px;
}

.margin-left5 {
    margin-left: 5px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left15 {
    margin-left: 15px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left25 {
    margin-left: 25px;
}

.margin-left30 {
    margin-left: 30px;
}

.margin-left40 {
    margin-left: 40px;
}

.margin-left50 {
    margin-left: 50px;
}

.margin-left60 {
    margin-left: 60px;
}

.margin-left70 {
    margin-left: 70px;
}

.margin-left90 {
    margin-left: 90px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top25 {
    margin-top: 25px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top60 {
    margin-top: 60px;
}

.margin-top70 {
    margin-top: 70px;
}

.margin-top90 {
    margin-top: 90px;
}

.margin-minus40 {
    margin-top: -40px;
}

.margin-minus50 {
    margin-top: -50px;
}

.margin-minus60 {
    margin-top: -60px;
}

.margin-right5 {
    margin-right: 5px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right15 {
    margin-right: 15px;
}

.margin-right20 {
    margin-right: 20px;
}

.margin-right25 {
    margin-right: 25px;
}

.margin-right30 {
    margin-right: 30px;
}

.margin-right40 {
    margin-right: 40px;
}

.margin-right50 {
    margin-right: 50px;
}

.margin-right60 {
    margin-right: 60px;
}

.margin-right70 {
    margin-right: 70px;
}

.margin-right90 {
    margin-right: 90px;
}

.margin-bottom5 {
    margin-bottom: 5px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-bottom15 {
    margin-bottom: 15px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-bottom25 {
    margin-bottom: 25px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.margin-bottom40 {
    margin-bottom: 40px;
}

.margin-bottom50 {
    margin-bottom: 50px;
}

.margin-bottom60 {
    margin-bottom: 60px;
}

.margin-bottom70 {
    margin-bottom: 70px;
}

.margin-bottom90 {
    margin-bottom: 90px;
}

.margin-auto {
    margin: 0 auto;
}

.padding-left5 {
    padding-left: 5px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-left15 {
    padding-left: 15px;
}

.padding-left20 {
    padding-left: 20px;
}

.padding-left25 {
    padding-left: 25px;
}

.padding-left30 {
    padding-left: 30px;
}

.padding-left40 {
    padding-left: 40px;
}

.padding-left50 {
    padding-left: 50px;
}

.padding-left60 {
    padding-left: 60px;
}

.padding-left70 {
    padding-left: 70px;
}

.padding-left90 {
    padding-left: 90px;
}

.padding-top5 {
    padding-top: 5px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-top15 {
    padding-top: 15px;
}

.padding-top20 {
    padding-top: 20px;
}

.padding-top25 {
    padding-top: 25px;
}

.padding-top30 {
    padding-top: 30px;
}

.padding-top40 {
    padding-top: 40px;
}

.padding-top50 {
    padding-top: 50px;
}

.padding-top60 {
    padding-top: 60px;
}

.padding-top70 {
    padding-top: 70px;
}

.padding-top90 {
    padding-top: 90px;
}

.padding-right5 {
    padding-right: 5px;
}

.padding-right10 {
    padding-right: 10px;
}

.padding-right15 {
    padding-right: 15px;
}

.padding-right20 {
    padding-right: 20px;
}

.padding-right25 {
    padding-right: 25px;
}

.padding-right30 {
    padding-right: 30px;
}

.padding-right40 {
    padding-right: 40px;
}

.padding-right50 {
    padding-right: 50px;
}

.padding-right60 {
    padding-right: 60px;
}

.padding-right70 {
    padding-right: 70px;
}

.padding-right90 {
    padding-right: 90px;
}

.padding-bottom5 {
    padding-bottom: 5px;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.padding-bottom15 {
    padding-bottom: 15px;
}

.padding-bottom20 {
    padding-bottom: 20px;
}

.padding-bottom25 {
    padding-bottom: 25px;
}

.padding-bottom30 {
    padding-bottom: 30px;
}

.padding-bottom40 {
    padding-bottom: 40px;
}

.padding-bottom50 {
    padding-bottom: 50px;
}

.padding-bottom60 {
    padding-bottom: 60px;
}

.padding-bottom70 {
    padding-bottom: 70px;
}

.padding-bottom90 {
    padding-bottom: 90px;
}